p#Holes {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

}

p#shop {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

}


p#Restaurant {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;


}

p#Boende {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

}

p#Range {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
   


}

p#Par {
    font-weight: bold;

    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;


}

p#Webb {
    grid-area: Webb;
    color: black;
    border: 4px;
    border-radius: 10%;
    background-color: aliceblue;
    width: 80px;
    height: 30px;
    text-align: center;

}

p#SlopeT {
    grid-area: SlopeT;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}


#back1 {
    grid-area: Tillbaka;
    width: 50px;
    height: 50px;
}




p#Namn {
    grid-area: Namn;
    font-weight: bold;
    font-size: 2.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    place-items: center;
    place-content: center;
    place-self: center;
    margin-top: 0px;
    margin-bottom: 10px;

}


.Ikoner {
    width: 70px;
    height: 70px;
    margin: 7px;
}

p#Text {
    grid-area: Text1;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
   margin-left: auto;
   margin-right: auto;
  
}



#Pris {
    font-size: 25px;
    color: black;
    margin-left: 200px;
    margin-top: 140px;

    padding: 5px;
    border-radius: 10%;
    background-color: white;
    
}

#Betyg {
    font-size: 25px;
    color: black;
    margin-right: 150px;
    margin-top: 140px;
    -webkit-text-stroke: 0.1px black;
    background-color: white;
    padding: 5px; 
    border-radius: 10%;
}

#Golf {
    width: 360px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

p.Bild {
    grid-area: Bild;
    align-items: center;
    justify-content: center;
    display: flex;
    place-items: center;
    place-content: center;
    place-self: center;
  
}

#DivIkoner {
    grid-area: DivIkoner;
    display: flex;
    width: 350px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    place-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    place-items: center;
    place-content: center;
    place-self: center;

}



html {
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



@media screen and (max-width: 390px) {
    #lista1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "Tillbaka"
            "Namn"
            "Bild"
            "DivIkoner"
            "DivIkoner2"
            "Webb"
            "Text1"

        ;
    }
}