html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
 background-color: rgb(85, 134, 186);
background-size:contain;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

main {
  grid-area: main;
}

header {
grid-area: header;  
}
footer {
  grid-area: footer;
  bottom: 0;
}

footer img {
width: 1000px; 
}
#header1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 3.5em;
  color: rgb(2, 39, 18);
}

h1 {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  display: fle;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.16em;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}


#nya {
  grid-column: 1/3;
  margin-bottom: 0;
  font-size: 1.20em;
  margin-top: 50px;
  margin-bottom: -60px;
  grid-row-start: 1;
  grid-row-end: 2;
  width: fit-content;
}

.grid-item {
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

#close img {
  width: 100px;
}

#smaland img {
  width: 100px;
}

#oland img {
  width: 100px;

}

#karta img {
  width: 100px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 140px;
  height: 140px;
  justify-self: center;
  margin-top: 30px;
  font-weight: bold;
}

.grid-item h2 {
  margin: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

betyg#show {
  background-color: aqua;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

label {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2em;
  color: rgb(2, 39, 18);
  margin-top: 35px;
  margin-left: 12px;
}

select {
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  color: rgb(2, 39, 18);
  background-color: rgba(255, 255, 255, 0.707);
  cursor: pointer;
}

select:focus {
  border-color: rgb(2, 39, 18);
}

option {
  color: rgb(2, 39, 18);
}

#GolfNamn{
  margin-top: 20px;
}

#lista1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#back {
  width: 55px;
  margin-top: 10px;
  margin-bottom: 5px;
  grid-area: Back;
}

#map {
  width: 90%;
  height: 400px;
  margin-top: 100px;
  border-radius: 5px 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

}

#Golfbanor {
  visibility: hidden;
  height: 1px;
  width: 1px;
}



#addrBtns {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin: 0 auto;
  max-width: 600px;
  cursor: pointer;
}

#addrBtns button {
  background-color: rgba(255, 255, 255, 0.707);
  border: none;
  color: black;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 5px 5px;
  cursor: pointer;
}


p#Holes {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

p#shop {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

p#Restaurant {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;

}

p#Boende {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;

}

p#Range {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: center;
}



#KartaMaps {
  width: 90%;
  height: 400px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}


p#Par {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  margin: 2px;
}

p#Webb {
  grid-area: Webb;
  background-color:  rgba(255, 255, 255, 0.707);
  font-size: 20px;
  width: 100px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10%;
  cursor: pointer;
}


#KartaBtn {
  background-color:  rgba(255, 255, 255, 0.707);
  font-size: 30px;
  grid-area: KartaBtn;
  width: 140px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10%;
  cursor: pointer;
}

#web {
  height: 50px;
  width: 70px;

}

p#SlopeT {
  grid-area: SlopeT;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;

}





.Ikoner {
  width: 70px;
  height: 70px;
  margin: 7px;
}

p#Text {
  grid-area: Text1;
  max-width: 370px;
  height: fit-content;
  text-align: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.707);
  justify-content: center;
  justify-self: center;
}





#Golf {
  width: 360px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  grid-area: BildAPI;
  display: flex;

}

p.Bild {
  grid-area: Bild;
  align-items: center;
  justify-content: center;
  display: flex;
  place-items: center;
  place-content: center;
  place-self: center;
}

div#PrisAPI {
  width: 100px;
}

#DivIkoner {
  grid-area: DivIkoner;
  display: flex;
  width: 350px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  place-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  place-items: center;
  place-content: center;
  place-self: center;
  font-size: 0.85em;
}

html {
  font-size: 16px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#NamnAPI {
  grid-area: NamnAPI;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  margin-bottom: -15px;


}



#BetygAPI {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

#PrisAPI {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

#AvståndAPI {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;

}



#ratingprice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: ratingprice;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  background-color: white;
  margin-top: -15px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

div[id^="id-"] {
  cursor: pointer;
  height: max-content;
  margin-bottom: 20px;
  margin-top: 10px;
}

#star {
  width: 20px;
}

#money {
  width: 20px;
}

#route {
  width: 20px;
}

p#BetygS {
  margin-top: 0;
  margin-bottom: 0;
}

#BetygS img {
  width: 20px;
}

#PrisBild img {
  width: 20px;
}

p#PrisBild {
  margin-top: 0;
  margin-bottom: 0;
}

#Betyg {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

#Pris {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
}

p#Namn {
  grid-area: Namn;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color:  rgba(255, 255, 255, 0.707);
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 30px;
  margin-bottom: -16px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#betygpriser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: betygpriser;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  background-color:  rgba(255, 255, 255, 0.707); 
  margin-top: -16px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#back1 {
  grid-area: Tillbaka;
  width: 50px;
  margin-left: 256px;


}
#hem {
  grid-area: Hem;
  width: 50px;
}

#Navigering {
  grid-area: Nav;
  flex-direction: row;
  display: flex;
  max-width: fit-content;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  justify-self: center;
}
#back {
  width:50px;
  margin-top: 16px;
  margin-bottom: 10px;
  grid-area: Back;
  margin-left: 14px;
}

@media screen and (max-width: 760px) {
  #lista1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Nav"
      "Namn"
      "Bild"
      "betygpriser"
      "DivIkoner"
      "Webb"
      "Text1"
    ;
  }

  #listajson {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Namn"
      "Bild"
      "betygpriser"
      "DivIkoner"
      "Webb"
      "Text1"
    ;
  }


  div[id^="id-"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NamnAPI"
      "BildAPI"
      "ratingprice"
    ;
  }
}


@media screen and (min-width: 760px) {
  #close img {
    width: 200px;
  }

  #BetygS img {
    grid-area: stars;
    margin-top: 0;
    margin-bottom: 0;
  }

  #smaland img {
    width: 200px;
  }

  #oland img {
    width: 200px;
  }

  #karta img {
    width: 200px;
  }

  #Golf img {
    width: 600px;
  }

  .grid-item {
    margin: 40px;
  }

  #Golf {
    width: 500px;
    height: 300px;
  }

  #Betyg {
    font-size: 18px;
  }

  #header1 {
    font-size: 6em;
    margin-bottom: 100px;
  }

  #nya {
    margin-top: 70px;
  }

  div[id^="id-"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NamnAPI"
      "BildAPI"
      "ratingprice"
    ;
    margin-right: 20px;
    margin-left: 20px;
  }


  #NamnAPI {
    width: 500px;
  }

  #ratingprice {
    width: 500px;
    justify-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 4em;
  }

  #lista1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
  }

  #BetygAPI {
    font-size: 20px;
  }

  #PrisAPI {
    font-size: 20px;

  }

  #AvståndAPI {
    font-size: 20px;

  }
 


#lista1 {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

#listajson {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;  
}


#back1 {
  width: 50px;
  height: 50px;
  margin-right: 0;
  }

  #hem {
  margin-left: 0;
  margin-right: 400px;
  }
 
  #back {
    width: 100px;
    height: 100px;
  }

  p#Namn {
    width: 500px;
    margin: 0;
    height: fit-content;
    justify-content: center;
    justify-self: center;
    order: 1;
    background: none;
  }

  #DivIkoner {
    display: flex;
  order: 6;  
  justify-content: center;
  }

 #Bild1 {
  display: flex;
  order: 4;
  justify-content: center;
  justify-self: center;
  margin-top: 20px;
  }

  #betygpriser {
  display: flex;
  order: 2;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  padding: 0;
  background: none;
  }

  #Webb {
  display: flex;
  order: 3; 
  justify-content: center; 
  }

  #Navigering {
  display: flex;
  order: 0;  
  }

  p#Text {
    justify-content: center;
    justify-self: center;
    order: 5;
    }
/*#lista1 img#Golf  { 
  margin-top: -225px;
  justify-content: center;
  justify-self: center;
  max-width: 370px;
}*/
}

@media screen and (min-width: 1100px) {
  #hem {
    margin-left: 0;
    margin-right: 750px;
    }  
  p#Namn {
    width: 1100px;
    font-size: 4em;
    height: fit-content;
  }
#betygpriser {
width: 25%;
font-weight: bold;
font-size: 2.5em;
margin-top: 0;  
margin-left: 300px;
}

p#Text {
margin-top: 50px;  
font-size: 1.5em;
margin-right: 5px;
margin-left: 5px;
}

p#Webb {
width: 25%;  
font-size: 1.6em;
background: none;
margin-right: 300px;
}


#DivIkoner {
width: 370px;
}

#lista1 img#Golf {
width: 370px;  
}
}