html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(img/golfaa.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: top;
}

html {
  font-size: 16px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header1 {
  font-family: monospace;
  font-weight: bold;
  font-size: 3.5em;
  color: black;
}

h1 {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  display: flex;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.16em;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}


#nya {
  grid-column: 1/3;
  margin-bottom: 0;
  font-size: 1.20em;
  margin-top: 50px;
  margin-bottom: -60px;
  grid-row-start: 1;
  grid-row-end: 2;
  width: fit-content;
}

#close img {
  width: 100px;
}

#smaland img {
  width: 100px;
}

#oland img {
  width: 100px;

}

#karta img {
  width: 100px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 140px;
  height: 140px;
  justify-self: center;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}

.grid.item img {
cursor: pointer;  
}
.grid-item h2 {
  margin: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

label {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2em;
  color: rgb(2, 39, 18);
  margin-top: 35px;
  margin-left: 12px;
}

select {
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px 5px;
  color: rgb(2, 39, 18);
  background-color: rgba(255, 255, 255, 0.707);
  cursor: pointer;
}

select:focus {
  border-color: rgb(2, 39, 18);
}

option {
  color: rgb(2, 39, 18);
}

#GolfNamn {
  margin-top: 25px;
  font-size: 1.9em;
}

#lista1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#map {
  width: 90%;
  height: 400px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px 5px;
}

#Golfbanor {
  visibility: hidden;
  height: 1px;
  width: 1px;
}

#addrBtns {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  margin: 0 auto;
  max-width: 600px;
  cursor: pointer;
}

#addrBtns button {
  background-color: rgba(255, 255, 255, 0.707);
  border: none;
  color: black;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 5px 5px;
  cursor: pointer;
}

p#Holes {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

p#shop {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

p#Restaurant {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;

}

p#Boende {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;

}

p#Range {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: center;
}

#KartaMaps {
  width: 90%;
  height: 400px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px 5px;
}

p#Par {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  margin: 2px;
}

p#Webb {
  grid-area: Webb;
  background-color: rgba(255, 255, 255, 0.707);
  font-size: 20px;
  width: 100px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 5px;
}


#KartaBtn {
  background-color: rgba(255, 255, 255, 0.707);
  font-size: 30px;
  grid-area: KartaBtn;
  width: 140px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 5px;
}

#web {
  height: 50px;
  width: 70px;

}

p#SlopeT {
  grid-area: SlopeT;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Ikoner {
  width: 70px;
  height: 70px;
  margin: 7px;
}

p#Text {
  grid-area: Text1;
  max-width: 370px;
  height: fit-content;
  text-align: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.707);
  justify-content: center;
  justify-self: center;
  border-radius: 5px 5px;
  margin-top: 0;
}

#Golf {
  width: 360px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  grid-area: BildAPI;
  display: flex;
  border-radius: 5px 5px;

}

p.Bild {
  grid-area: Bild;
  align-items: center;
  justify-content: center;
  display: flex;
  place-items: center;
  place-content: center;
  place-self: center;
  border-radius: 5px 5px;
}

div#PrisAPI {
  width: 100px;
}

#DivIkoner {
  grid-area: DivIkoner;
  display: flex;
  width: 360px;
  flex-direction: row;
  align-items: center;
  align-content: center;
  place-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  place-items: center;
  place-content: center;
  place-self: center;
  font-size: 0.85em;
  background-color: rgba(255, 255, 255, 0.707);
  margin-top: 5px;
  border-radius: 5px 5px;
}

#NamnAPI {
  grid-area: NamnAPI;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.707);
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  margin-bottom: -15px;
  border-radius: 5px 5px;
}


#BetygAPI {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

#PrisAPI {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

#AvståndAPI {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;

}

#ratingprice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: ratingprice;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  background-color: rgba(255, 255, 255, 0.707);
  margin-top: -15px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 5px 5px;
}

div[id^="id-"] {
  cursor: pointer;
  height: max-content;
  margin-bottom: 20px;
  margin-top: 10px;
}

#star {
  width: 20px;
}

#money {
  width: 20px;
}

#route {
  width: 20px;
}

p#BetygS {
  margin-top: 0;
  margin-bottom: 0;
}

#BetygS img {
  width: 20px;
}

#PrisBild img {
  width: 20px;
}

p#PrisBild {
  margin-top: 0;
  margin-bottom: 0;
}

#Betyg {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

#Pris {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
}

p#Namn {
  grid-area: Namn;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.707);
  margin-left: auto;
  margin-right: auto;
  min-width: 360px;
  max-width: 900px;
  height: 30px;
  margin-bottom: -16px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px 5px;
}

#betygpriser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: betygpriser;
  justify-content: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px;
  min-width: 360px;
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.707);
  margin-top: -16px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px 5px;
}

#back1 {
  grid-area: Tillbaka;
  width: 50px;
  margin-left: 256px;


}

#hem {
  grid-area: Hem;
  width: 50px;
}

#Navigering {
  grid-area: Nav;
  flex-direction: row;
  display: flex;
  max-width: fit-content;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  justify-self: center;
}

#back {
  margin-top: 16px;
  margin-bottom: 15px;
  grid-area: Back;
  margin-left: 14px;
  width: 60px;
  height: 60px;

}

@media screen and (max-width: 760px) {
  #lista1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Nav"
      "Namn"
      "Bild"
      "betygpriser"
      "DivIkoner"
      "Webb"
      "Text1"
    ;
  }

  p#Namn {
    grid-area: Namn;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.707);
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    min-width: 360px;
    height: 30px;
    margin-bottom: -16px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #listajson {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "Namn"
      "Bild"
      "betygpriser"
      "DivIkoner"
      "Webb"
      "Text1"
    ;
  }


  div[id^="id-"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NamnAPI"
      "BildAPI"
      "ratingprice"
    ;
  }

}

@media screen and (min-width: 760px) {
  #close img {
    width: 200px;
  }

  #BetygS img {
    grid-area: stars;
    margin-top: 0;
    margin-bottom: 0;
  }

  #smaland img {
    width: 200px;
  }

  #oland img {
    width: 200px;
  }

  #karta img {
    width: 200px;
  }

  #Golf img {
    width: 600px;
  }

  .grid-item {
    margin: 40px;
  }

  #Golf {
    width: 500px;
    height: 300px;
  }

  #Betyg {
    font-size: 18px;
  }

  #header1 {
    font-size: 6em;
    margin-bottom: 100px;
  }

  #nya {
    margin-top: 70px;
  }

  div[id^="id-"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "NamnAPI"
      "BildAPI"
      "ratingprice"
    ;
    margin-right: 20px;
    margin-left: 20px;
  }

  #NamnAPI {
    width: 500px;
  }

  #ratingprice {
    width: 500px;
    justify-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 4em;
  }

  #lista1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #BetygAPI {
    font-size: 20px;
  }

  #PrisAPI {
    font-size: 20px;
  }

  #AvståndAPI {
    font-size: 20px;
  }

  #listajson {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #back1 {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }

  #hem {
    margin-left: 0;
    margin-right: 400px;
  }

  p#Namn {
    max-width: 900px;
    margin: 0;
    height: fit-content;
    justify-content: center;
    justify-self: center;
    order: 1;
    background: none;
  }

  #DivIkoner {
    display: flex;
    order: 6;
    justify-content: center;
  }

  #Bild1 {
    display: flex;
    order: 4;
    justify-content: center;
    justify-self: center;
    margin-top: 20px;
  }

  #betygpriser {
    display: flex;
    order: 2;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding: 0;
  }

  #Webb {
    display: flex;
    order: 3;
    justify-content: center;
  }

  #Navigering {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 0;
  }

  p#Text {
    justify-content: center;
    justify-self: center;
    order: 5;
  }

  #hem {
    margin-left: 50;
    margin-right: 350px;
  }

  p#Namn {
    max-width: 900px;
    font-size: 4em;
    height: fit-content;
  }

  #betygpriser {
    width: 550px;
  }

  #Pris {
    margin-left: 20px;
  }

  p#Text {
    margin-top: 50px;
    font-size: 1.5em;
    margin-right: 5px;
    margin-left: 5px;
  }



  #DivIkoner {
    max-width: 370px;
  }

  #lista1 img#Golf {
    max-width: 370px;
  }

}

@media screen and (min-width: 1200px) {
  #hem {
    margin-left: 0;
    margin-right: 750px;
  }

  p#Namn {
    width: 1100px;
    font-size: 4em;
    height: fit-content;
  }

  #betygpriser {
    width: 25%;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 0;
    margin-left: 300px;
  }

  p#Text {
    margin-top: 50px;
    font-size: 1.5em;
    margin-right: 5px;
    margin-left: 5px;
  }

  p#Webb {
    width: 25%;
    font-size: 1.6em;
    background-color: rgba(255, 255, 255, 0.707);
    margin-right: 300px;
  }


  #DivIkoner {
    width: 370px;
  }

  #lista1 img#Golf {
    width: 370px;
  }
}

@media screen and (min-width: 1050px) {
  #hem {
    margin-left: 0;
    margin-right: 600px;
  }

  p#Namn {
    width: 1200px;
    font-size: 4em;
    height: fit-content;
  }

  #betygpriser {
    width: 30%;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 0;
    margin-left: 150px;
  }

  p#Text {
    margin-top: 50px;
    font-size: 1.5em;
    margin-right: 5px;
    margin-left: 5px;
  }

  p#Webb {
    background-color: rgba(255, 255, 255, 0.707);
    margin-right: 150px;
  }


  #DivIkoner {
    width: 370px;
  }

  #lista1 img#Golf {
    width: 370px;
  }
}

@media screen and (min-width: 1100px) {
  #hem {
    margin-right: 450px;
  }

  p#Namn {
    max-width: 900px;
  }
}

@media screen and (min-width: 1000px) {
  #hem {
    margin-left: 0;
    margin-right: 350px;
  }

  p#Namn {
    max-width: 900px;
  }

  #betygpriser {
    max-width: 500px;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 0;
    margin-left: 150px;
  }

  p#Webb {
    width: 150;
    margin-right: 70px;
  }

}

@media screen and (min-width: 900px) {
  #hem {
    margin-left: 50;
    margin-right: 350px;
  }

  p#Namn {
    max-width: 900px;
    font-size: 4em;
    height: fit-content;
    padding-right: 100px;
    padding-left: 100px;
  }

  #betygpriser {
    width: 550px;
  }

  #Pris {
    margin-left: 20px;
  }

  p#Text {
    margin-top: 50px;
    font-size: 1.5em;
    margin-right: 5px;
    margin-left: 5px;
  }

  p#Webb {
    width: 25%;
    font-size: 1.6em;
  }

  #DivIkoner {
    max-width: 370px;
  }

  #lista1 img#Golf {
    max-width: 370px;
  }
}